.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.top_navbar {
  width: 100%;
  height: 30px;
  background-color: #8e9fa9;
}
.top_navbar__block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right_block {
  width: 50%;
  padding: 1%;
}
.right_block ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
}
.right_block li {
  cursor: pointer;
}

.right_block li:hover {
  text-decoration: underline;
}

.left_block {
  width: 40%;
  padding: 1%;
  display: flex;
  justify-content: end;
}

.left_block .icon_navbar {
  color: white;
  margin: 0 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.left_block .icon_navbar:hover {
  opacity: 0.8;
}

.left_block .searchInput {
  width: 150px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.89);
  background-color: transparent;
  color: white;
  border-radius: 10px;
  padding: 0 10px;
  transition: 1s;
}

.left_block .searchInput:focus {
  background-color: rgba(255, 255, 255, 0.938);
  color: #8e9fa9;
}

.left_block .email {
  color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.253);
  margin: 0;
  padding: 2px 0 0 4px;
  cursor: pointer;
}

.left_block .email:hover {
  color: #313131;
}

.bottom_navbar {
  width: 100%;
  height: auto;
  background-color: white;
}
.bottom_navbar__block ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 1% 0;
  list-style: none;
  font-size: 1.2rem;
  text-align: center;
}

.bottom_navbar__block li {
  cursor: pointer;
  border-bottom: 3px solid white;
}
.bottom_navbar__block li:hover {
  border-bottom: 3px solid green;
}

.bottom_navbar__block .imgObl {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  opacity: 1;
  transition: 0.6s;
  color: #2e2e2e;
}

.bottom_navbar__block .logo_guide {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-image: url(../../../assets/logo_guide.png);
  background-size: cover;
}
.bottom_navbar__block .logo_guide:active {
  transform: scaleX(-1);
  transition: 0.2s;
}
.bottom_navbar__block .li_logo:hover {
  border-bottom: 3px solid white;
}
